@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-zinc-50 text-zinc-500;
  }

  article h1, h2, h3, h4, h5, h6 {
    @apply text-zinc-800 uppercase tracking-wider;
  }

}
